h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  background: pink;
}

p {
  border: 1px solid grey;
}

.text-bold {
  font-weight: bold;
}

.text-italics {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}
